.Job {
  display: flex;
  justify-content: space-between;
  height: 64px;
  padding-left: 15px;
  padding-right: 15px;
}

.Job:hover {
  background: #f1f3f7;
  mix-blend-mode: normal;
  opacity: 0.75;
  border-radius: 3px;
}

.Job p {
  margin: auto 0px;
}

@media (hover: hover) and (pointer: fine) {
  .Job:hover {
    background: #f1f3f7;
  }
}
