.Button {
  height: 42px;
  width: 108px;
  color: #ffffff;
  border-radius: 3px;
  box-shadow: 0px 8px 12px -8px #517cfd;
  background-color: #517cfd;
  border-style: none;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  margin: 11px 0;
}

.Button:hover {
  cursor: pointer;
}
