.Jobs {
  display: grid;
  z-index: 3;
  position: absolute;
  width: 66%;
  background: #ffffff;
  padding: 35px 20px;
  left: 17%;
  top: 22%;
}

.Jobs h1 {
  font-size: 26px;
  font-weight: bold;
  line-height: 35px;
  margin-bottom: 46px;
  margin-left: 15px;
  margin-top: 0;
}

.Checkboxes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.Background {
  width: 76%;
  height: 647px;
  background: #4671f3;
  z-index: 2;
  position: absolute;
  left: 12%;
  top: 32.6%;
}

.Container {
  display: grid;
  grid-template-rows: 767px 433px;
  position: relative;
  width: 100vw;
}

.GreyPart {
  background-color: #f1f3f7;
  z-index: 1;
}

.BluePart {
  background-color: #517cfd;
  z-index: 1;
}

@media (max-width: 992px) {
  .Jobs {
    top: 25.8%;
  }
}
@media (max-width: 768px) {
  .Jobs {
    top: 14.8%;
  }
}
@media (max-width: 650px) {
  .Jobs {
    top: 25.8%;
  }
}
