.Container {
  margin: 35px auto auto 35px;
}

.Container h1 {
  font-size: 26px;
  font-weight: bold;
  line-height: 35px;
  margin-bottom: 46px;
}

.Checkboxes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
