.Location {
  display: inline-block;
}

.Occurrence {
  border-radius: 12.5px;
  background: #517cfd;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  color: #ffffff;
  padding: 1px 6px;
  margin-left: 10px;
}

.None {
  background: #c0c8de;
  border-radius: 12.5px;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  color: #ffffff;
  padding: 1px 6px;
  margin-left: 10px;
}
